
.solution-img {
    width: 105%;
    height: 105%;
    border: 0.25rem solid fade-out($info, 0.9);
}

.solution-content { 
    color: $primary;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    padding: 0.5rem 7.5rem;
    padding-top: 0;

    // background-color: rgba(aliceblue, 0.4); 
    // padding: 5px 10px;  
    // display: inline-block; 
    // border-color: aliceblue;
    // border-radius: 10px;  
}