doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title JABAS AI

        // Favicon
        link(rel='icon', type='image/x-icon', href='./../assets/img/logos/jabas-3.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-info.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    //- img(src='assets/img/logos/jabas-2.png', alt='...' width=200)
                    .h2.navbar-brand-name JABAS
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1.text-primary
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#problem') Problem
                        li.nav-item
                            a.nav-link(href='#solution') Solution
                        li.nav-item
                            a.nav-link(href='#services') Services
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#partners') Partners
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-heading.text-uppercase Platform-independent navigation solutions for agricultural robotics
                .masthead-subheading Taking the pain out of getting robots and AI onto the fields 
                a.btn.btn-info.btn-xl.text-uppercase(href='#services') Tell Me More


        // Problem 
        section#problem.problem 
            .container-fluid
                h2.problem-heading.text-center.text-dark Problem Statement
                .row.text-center    
                    .col-md-4
                        img.problem-img(src='assets/img/problem/problem-1.png', alt='...' )
                        span.muted-text.problem-content
                            | <br> Agricultural environments pose unique navigation challenges
                    .col-md-4
                        img.problem-img(src='assets/img/problem/problem-2.png', alt='...' )
                        span.muted-text.problem-content
                            | <br> SMEs waste resources reinventing navigation solutions
                    .col-md-4
                        img.problem-img(src='assets/img/problem/problem-3.png', alt='...' )
                        span.muted-text.problem-content
                            | <br> Current solutions require extensive human oversight
                    

        // Solution 
        section#solution.solution 
            .container-fluid
                h2.solution-heading.text-center.text-primary Our Solution
                .row.text-center    
                    .col-md-4
                        span.muted-text
                            | <br> Agricultural environments pose unique navigation challenges
                    .col-md-4
                        span.muted-text 
                            | <br> SMEs waste resources reinventing navigation solutions
                    .col-md-4
                        span.muted-text 
                            | <br> Current solutions require extensive human oversight
                    
        // Services
        section#services.page-section.bg-primary
            .container
                .text-center
                    h2.section-heading.text-uppercase Services
                    h3.section-subheading.text-muted 
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-info
                            i.fas.fa-compass.fa-stack-1x.fa-inverse
                        h4.my-3 Reliable Navigation
                        p.text-muted
                            | Advanced localisation algorithms  <br/>
                            | Agricultural-specific motion planning  <br/>
                            | Proven reliability in field conditions <br/>
                            | Safety-first approach <br/>

                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-info
                            i.fas.fa-layer-group.fa-stack-1x.fa-inverse
                        h4.my-3 Rapid Deployment
                        p.text-muted
                            | Quick integration with existing platforms  <br/>
                            | Standardised interfaces <br/>
                            | Efficient environment mapping <br/>
                            | Remote support and monitoring <br/>
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-info
                            i.fas.fa-laptop-code.fa-stack-1x.fa-inverse
                        h4.my-3 Fleet Management
                        p.text-muted
                            | AI-enabled coordination <br/>
                            | Reduced human oversight <br/>
                            | Real-time performance monitoring <br/>
                            | Scalable operations <br/>


        // Portfolio Grid
        section#portfolio.page-section.bg-light(hidden='true')
            .container
                .text-center
                    h2.section-heading.text-uppercase Portfolio
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/1.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Threads
                                .portfolio-caption-subheading.text-muted Illustration
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/2.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Explore
                                .portfolio-caption-subheading.text-muted Graphic Design
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/3.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Finish
                                .portfolio-caption-subheading.text-muted Identity
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        // Portfolio item 4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/4.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Lines
                                .portfolio-caption-subheading.text-muted Branding
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        // Portfolio item 5
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/5.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Southwest
                                .portfolio-caption-subheading.text-muted Website Design
                    .col-lg-4.col-sm-6
                        // Portfolio item 6
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/6.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Window
                                .portfolio-caption-subheading.text-muted Photography

        // Our Story
        section#about.page-section.bg-dark
            .container
                .text-center.text-primary
                    h2.section-heading.text-uppercase Our Story
                    //- h3.section-subheading.text-muted.text-primary Lorem ipsum dolor sit amet consectetur.
                //- ul.timeline(hidden='true')
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                //- h4 2009-2011
                                h4.subheading.text-primary Day 0
                            .timeline-body
                                p.text-muted
                                    //- ol 
                                    span  JABAS emerged from pioneering research at the University of Lincoln's Centre for Autonomous Systems, backed by £4 million of industry and Innovate UK funding.<br/>

                                        
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                //- h4 March 2011
                                h4.subheading.text-primary First Trials
                            .timeline-body
                                p.text-muted
                                    span Working with leading agri-tech partners like Dogtooth Technologies and Berry Gardens Growers, we developed and refined our navigation solutions across diverse agricultural environments.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                //- h4 December 2015
                                h4.subheading.text-primary Research-backed
                            .timeline-body
                                p.text-muted.text-primary
                                    span Our research, published in Nature and other leading Robotics Journals, and validated through successful field deployments, identified a crucial need.
                    
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading.text-primary
                                //- h4 July 2020
                                h4.subheading.text-primary Ready to takeoff
                            .timeline-body
                                p.text-muted.primary-text
                                    span We invite innovative agri-robotics manufacturers to become part of our success story. Get in touch to learn how our proven navigation technology can accelerate your journey to market.
                    
                    li.timeline
                        .timeline-image.text-dark
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!
                        .timeline-panel
                            .timeline-heading.text-primary
                                //- h4 July 2020
                                h4.subheading.text-primary Our offer
                            .timeline-body
                                p.text-muted
                                    | To get robotics work reliably and safely in the world’s field to deliver innovative farming solutions.
                    
        // Team
        section#team.page-section.bg-primary
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Amazing Team
                    h3.section-subheading.text-muted Meet our amazing team.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/Marc.jpg', alt='...')
                            h4 Marc Hanheide
                            p.text-muted Team Lead
                            a.btn.btn-info.btn-social.mx-2(href='https://github.com/marc-hanheide', aria-label='Marc Hanheide GitHub Profile')
                                i.fab.fa-github
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Marc HanheideFacebook Profile')
                            //-     i.fab.fa-facebook-f
                            a.btn.btn-info.btn-social.mx-2(href='https://www.linkedin.com/in/marc-hanheide/', aria-label='Marc Hanheide LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/Gautam.png', alt='...')
                            h4 Gautham Das
                            p.text-muted Fleet Operation Lead
                            a.btn.btn-info.btn-social.mx-2(href='https://github.com/GPrathap', aria-label='Gautham Das GitHub Profile')
                                i.fab.fa-github
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Marc HanheideFacebook Profile')
                            //-     i.fab.fa-facebook-f
                            a.btn.btn-info.btn-social.mx-2(href='https://www.linkedin.com/in/gpdas/', aria-label='Gautham Das LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/Greg.png', alt='...')
                            h4 Grzegorz Cielniak
                            p.text-muted Perception Lead
                            a.btn.btn-info.btn-social.mx-2(href='https://github.com/gcielniak', aria-label='Grzegorz Cielniak GitHub Profile')
                                i.fab.fa-github
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Ibrahim Hroob Facebook Profile')
                            //-     i.fab.fa-facebook-f
                            a.btn.btn-info.btn-social.mx-2(href='#!', aria-label='Grzegorz Cielniak LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/Ibrahim.jpg', alt='...')
                            h4 Ibrahim Hroob
                            p.text-muted Robotics Software Engineer
                            a.btn.btn-info.btn-social.mx-2(href='https://github.com/ibrahimhroob', aria-label='Ibrahim Hroob GitHub Profile')
                                i.fab.fa-github
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Ibrahim Hroob Facebook Profile')
                            //-     i.fab.fa-facebook-f
                            a.btn.btn-info.btn-social.mx-2(href='https://www.linkedin.com/in/ibrahim-hroob/', aria-label='Ibrahim Hroob LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/James.jpg', alt='...')
                            h4 James Heselden
                            p.text-muted AI Software Engineer
                            a.btn.btn-info.btn-social.mx-2(href='https://github.com/Iranaphor', aria-label='James Heselden GitHub Profile')
                                i.fab.fa-github
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Arshad Khan Facebook Profile')
                            //-     i.fab.fa-facebook-f
                            a.btn.btn-info.btn-social.mx-2(href='https://www.linkedin.com/in/jamesheselden/', aria-label='James Heselden LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/Arshad.jpg', alt='...')
                            h4 Arshad Khan
                            p.text-muted Backend Software Engineer
                            a.btn.btn-info.btn-social.mx-2(href='https://github.com/arsh09', aria-label='Arshad Khan GitHub Profile')
                                i.fab.fa-github
                            //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Arshad Khan Facebook Profile')
                            //-     i.fab.fa-facebook-f
                            a.btn.btn-info.btn-social.mx-2(href='https://www.linkedin.com/in/muhammad-arshad-khan-0910/', aria-label='Arshad Khan LinkedIn Profile')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            //- | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

        // Clients
        div#partners.py-5.bg-dark
            .container
                h2.text-center.text-primary Our Partners
                .row.align-items-center
                    .col-md-3.col-sm-6.my-3
                        a(href='https://www.bggrowers.co.uk/')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/berry-gardens.svg', alt='...', aria-label='Berry Gardens Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='https://dogtooth.tech/')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/dogtooth.svg', alt='...', aria-label='Dogtooth Technology Logo')
                    //- .col-md-3.col-sm-6.my-3
                    //-     a(href='#!')
                    //-         img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/facebook.svg', alt='...', aria-label='Facebook Logo')
                    //- .col-md-3.col-sm-6.my-3
                    //-     a(href='#!')
                    //-         img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ibm.svg', alt='...', aria-label='IBM Logo')

        // Contact
        section#contact.page-section.bg-primary
            .container
                .text-center
                    h2.section-heading.text-uppercase.text-dark Contact Us
                    h3.section-subheading.large.text-dark Email us at 
                        a(href='mailto:info@jabas.ai') info@jabas.ai
                    

                //- // * * * * * * * * * * * * * * *
                //- // * * SB Forms Contact Form * *
                //- // * * * * * * * * * * * * * * *

                //- // This form is pre-integrated with SB Forms.
                //- // To make this form functional, sign up at
                //- // https://startbootstrap.com/solution/contact-forms
                //- // to get an API token!

                //- form#contactForm(data-sb-form-api-token='API_TOKEN')
                //-     .row.align-items-stretch.mb-5
                //-         .col-md-6
                //-             .form-group

                //-                 // Name input
                //-                 input#name.form-control(
                //-                     type='text',
                //-                     placeholder='Your Name *',
                //-                     data-sb-validations='required'
                //-                 )
                //-                 .invalid-feedback(data-sb-feedback='name:required')
                //-                     | A name is required.

                //-             .form-group

                //-                 // Email address input
                //-                 input#email.form-control(
                //-                     type='email',
                //-                     placeholder='Your Email *',
                //-                     data-sb-validations='required,email'
                //-                 )
                //-                 .invalid-feedback(data-sb-feedback='email:required')
                //-                     | An email is required.
                //-                 .invalid-feedback(data-sb-feedback='email:email')
                //-                     | Email is not valid.

                //-             .form-group.mb-md-0

                //-                 // Phone number input
                //-                 input#phone.form-control(
                //-                     type='tel',
                //-                     placeholder='Your Phone *',
                //-                     data-sb-validations='required'
                //-                 )
                //-                 .invalid-feedback(data-sb-feedback='phone:required')
                //-                     | A phone number is required.

                //-         .col-md-6
                //-             .form-group.form-group-textarea.mb-md-0

                //-                 // Message input
                //-                 textarea#message.form-control(
                //-                     placeholder='Your Message *',
                //-                     data-sb-validations='required'
                //-                 )
                //-                 .invalid-feedback(data-sb-feedback='message:required')
                //-                     | A message is required.

                //-     // Submit success message
                //-     //
                //-     // This is what your users will see when the form
                //-     // has successfully submitted

                //-     #submitSuccessMessage.d-none
                //-         .text-center.text-white.mb-3
                //-             .fw-bolder Form submission successful!
                //-             | To activate this form, sign up at
                //-             br
                //-             a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                //-     // Submit error message
                //-     //
                //-     // This is what your users will see when there is
                //-     // an error submitting the form

                //-     #submitErrorMessage.d-none
                //-         .text-center.text-danger.mb-3 Error sending message!

                //-     // Submit Button
                //-     .text-center
                //-         button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Send Message

        // Footer
        footer.footer.py-4.bg-dark
            .container.text-primary
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; JABAS 2024
                    .col-lg-4.my-3.my-lg-0
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                        //-     i.fab.fa-twitter
                        //- a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                        //-     i.fab.fa-facebook-f
                        a.btn.btn-primary.btn-social.mx-2(href='https://www.linkedin.com/company/jabas/', aria-label='LinkedIn')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
